.azul-escuro{
    background-color: #AECBFA;
}

.azul-claro{
    background-color: #CBF0F8;
}

.vermelho{
    background-color: #F28B82;
}

.laranja{
    background-color: #FBBC04;
}

.amarelo{
    background-color: #FFF475;
}

.verde{
    background-color: #CCFF90;
}

.roxo{
    background-color: #D7AEFB;
}